<!doctype html>

<html>
	<head>
		<title> API Authorization </title>
		<h2> Enter Credentials </h2>
	</head>
	<body>

		<form action="/api-auth/token" method="POST">

			<div>
				<label for='uname_ip'>Username: </label>
				<input id='uname_ip' name='uname' type='text' />
			</div>

			<div>
				<label for='passwd_ip'>Password: </label>
				<input id='passwd_ip' name='passwd' type='password' />
			</div>

			<div>
				<label for='readonly_ip'>Read Only ? </label>
				<input id='readonly_ip' name='readonly' type='checkbox' />
			</div>

			<div>
				<input type="submit" value="Sign in">
			</div>

		</form>
		
	</body>
</html>